* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: linear-gradient(#555, #333, #111);
	overflow: hidden;
}


h1 {
	color: #cccccc;
	font-variant: small-caps;
	font-size: 3em;
	text-align: center;
	font-family: sans-serif;
	font-weight: 400;
	background: transparent;
	z-index: 1;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 1)
}


.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: relative;
}

.square {
	position: absolute;
	pointer-events: none;
	background: lightskyblue;
	width: 20px;
	height: 20px;
	left: 5em;
	top: 3em;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
	animation-name: squareAnim;
	animation-timing-function: ease-in-out;
}

@keyframes squareAnim {
	0% {
		opacity: 0;
		transform: scale(0) translateY(0) rotate(0deg);
	}

	50% {
		opacity: .4;
	}

	90% {
		opacity: .2;
	}

	100% {
		opacity: 0;
		transform: scale(1) translateY(-700%) rotate(360deg);
	}
}